* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html {
    height: -webkit-fill-available;
}
a {
    display: block;
}

button {
    background: none;
    border: 1px solid #fe6903;
    color: #fe6903;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #fe6903;
    color: #000;
}

button:active {
    transform: scale(0.95);
}

body {
    background: #000;
    position: relative;
    user-select: none;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
}
.info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    color: #fe6903;
    gap: 10px;
    font-weight: bold;
}
.info img {
    width: 50px;
    height: 50px;
}
.logo {
    width: 50px;
    height: 50px;
}
